{% extends 'base.html.twig' %}

{% block body %}
    <div class="experiences">
        <div class="introduction">
            <h2>Experiences</h2>
            <p>
                I gather here my professional experiences related to web development since 2 years and a half.
            </p>
        </div>
        <div class="experiences-list">
            <div class="experience">
                <h4>
                    <span>
                        6 months &mdash; @Pushup Agency
                        <div class="arrow"></div>
                    </span>
                </h4>
                <div class="to-hide hide">
                    <a href="https://www.facebook.com/agencepushup/">
                        <img src="{{ asset('build/pushup2.jpg') }}" alt="Pushup">
                    </a>
                    <div class="experience-resume">
                        <h5>Tasks</h5>
                        <ul class="tasks">
                            <li>Html/css integration</li>
                            <li>Initiation PHP</li>
                            <li>Use of design software</li>
                        </ul>
                        <h5>Technologies</h5>
                            <ul class="techs-and-tools">
                                <li><img src="{{ asset('build/html.svg') }}" alt="html"></li>
                                <li><img src="{{ asset('build/css.svg') }}" alt="css"></li>
                                <li><img src="{{ asset('build/javascript.svg') }}" alt="javascript"></li>
                            </ul>
                        <h5>Tools</h5>
                        <ul class="techs-and-tools">
                            <li><img src="{{ asset('build/photoshop.svg') }}" alt="photoshop"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="experience">
                <h4>
                    <span>
                        Current job since 2 years &mdash;@Opsone
                        <div class="arrow"></div>
                    </span>
                </h4>
                <div class="to-hide hide">
                    <a href="https://www.opsone.net/">
                        <img src="{{ asset('build/opsone2.jpeg') }}" alt="Pushup">
                    </a>
                    <div class="experience-resume">
                        <h5>Tasks</h5>
                        <ul class="tasks">
                            <li>Html/css/js integration</li>
                            <li>Dynamisation / back end with Symfony2 Framework</li>
                            <li>Integration / Development for Wordpress'sites</li>
                            <li>Front end redesign </li>
                            <li>Use of design software</li>
                        </ul>
                        <h5>Technologies</h5>
                            <ul class="techs-and-tools">
                                <li><img src="{{ asset('build/html.svg') }}" alt="html"></li>
                                <li><img src="{{ asset('build/css.svg') }}" alt="css"></li>
                                <li><img src="{{ asset('build/javascript.svg') }}" alt="javascript"></li>
                                <li><img src="{{ asset('build/jquery.svg') }}" alt="jquery"></li>
                                <li><img src="{{ asset('build/php.svg') }}" alt="php"></li>
                                <li><img src="{{ asset('build/symfony.svg') }}" alt="symfony"></li>
                                <li><img src="{{ asset('build/ruby.svg') }}" alt="ruby"></li>
                            </ul>
                        <h5>Tools</h5>
                        <ul class="techs-and-tools">
                            <li><img src="{{ asset('build/wordpress.svg') }}" alt="wordpress"></li>
                            <li><img src="{{ asset('build/sketch.svg') }}" alt="sketch"></li>
                            <li><img src="{{ asset('build/photoshop.svg') }}" alt="photoshop"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
